[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"

[packages]
boto3 = "*"
pandas = "*"
pyarrow = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest -v"
